# игнорировать все файлы в каталоге */tmp/
# Например bootstrap-4.1.3-dist.zip/
*bootstrap-4.1.3-dist.zip
# Игнорирование по типу файла, будут игнорироваться в АБСОЛЮТНО всех директориях
# Например img/NeuroStartUp.png_backup, index.html_old
*_old
*_backup
*html_old
*png_backup
# Игнорирование файла во ВСЕХ директориях
# Например Thumbs.db, .DS_Store
*Thumbs.db
*.DS_Store